@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #02A676, #008C72);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #022720c5;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #003840;
}

h2 {
    color: #005A5B;
}

p {
    text-align: justify;
}